<!DOCTYPE HTML>
<html>
	<head>
        <style>
        nav {
            display: flex;
            background-color: #888888;
            padding: 0px;
            margin: 0px;
            border: solid 1px;
        }
        .blacklinkbox {
            background-color: #888888;
            padding: 10px;
            margin: 0px;
            color: black;
            text-decoration: none;
        }
        .blacklinkbox:hover {
            background-color: #666666;
        }
        .blacklinkbox * {
            
        }
        </style>
		<meta charset="utf-8">
		<title>glass</title>
        <link href="{{ url_for('.static', filename='css/base.css') }}" rel="stylesheet" type="text/css">
        {% block head %}{% endblock %}
	</head>
	<body>
	<h1>SCRIBE PINFILE VIEWER</h1>
    <img src="{{ url_for('.static', filename='images/scribe.png') }}" width=100px> {# add borders? #}
    <nav>
        <a href="https://discordapp.com/api/oauth2/authorize?client_id=413082884912578560&permissions=0&scope=bot" class="blacklinkbox"><h3>INVITE SCRIBE</h3></a>
        <a href="{{ url_for('help') }}" class="blacklinkbox"><h3>HELP</h3></a>
        <a href="https://github.com/qxu21/glass" class="blacklinkbox"><h3>GITHUB</h3></a>
        {% if g.user.is_authenticated %}
        <a href="{{ url_for('pinfile_list') }}" class="blacklinkbox"><h3>PINFILE LIST</h3></a>
        <a href="{{ url_for('logout') }}" class="blacklinkbox"><h3>LOG OUT</h3></a>
        {% endif %}
    </nav>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
    {% endif %}
    {% endwith %}
	{% block content %}{% endblock %}
	</body>
</html>
