<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>glass</title>
        <link href="{{ url_for('.static', filename='css/base.css') }}" rel="stylesheet" type="text/css">
        {% block head %}{% endblock %}
	</head>
	<body>
	<h1>SCRIBE PINFILE VIEWER</h1>
    <img src="{{ url_for('.static', filename='images/scribe.png') }}" width=100px> {# add borders? #}
    <h3>{% if g.user.is_authenticated %}<a href="{{ url_for('logout') }}">LOG OUT</a>&nbsp;&nbsp;<a href="{{ url_for('pinfile_list') }}">PINFILE LIST</a>&nbsp;&nbsp;{% endif %}<a href="https://discordapp.com/api/oauth2/authorize?client_id=413082884912578560&permissions=0&scope=bot">INVITE SCRIBE</a>&nbsp;&nbsp;<a href="{{ url_for('help') }}">HELP</a>&nbsp;&nbsp;<a href="https://github.com/qxu21/glass">GITHUB</a></h3>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
    {% endif %}
    {% endwith %}
	{% block content %}{% endblock %}
	</body>
</html>
