{% extends "base.html" %}
{% block head %}
<style>
.pin {
	margin: 5px 0 5px 0;
	padding: 2px;
	border: solid 1px;
}
.pin:nth-child(odd) {
	background-color: white;
}
.pin:nth-child(odd):hover {
	background-color: #eeeeee;
}
.pin:nth-child(even) {
	 background-color: #cecece;
}
.pin:nth-child(even):hover {
	background-color: #bbbbbb;
}

</style>
{% endblock %}
{% block content %}
<h1>{{ guild_name.name }}</h1>
<h2>#{{ channel_name.name }}</h2>

{% for pin in pins %}
<div class="pin">
{% for msg in pin %}
<div class="msg">
{% for line in msg %}
{{ line }} <br />
{% endfor %}
</div>
{% endfor %}
</div>
{% endfor %}

{% endblock %}
