{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
<h1>{{ guild_name.name }}: #{{channel_name.name}}</h1>

{% for pin in pins %}
<div class="container">
  <table style="width:100%">
    {% for msg in pin %}
    <tr>
      <td>
	<span class="text-primary"> {{ msg.author_name }}<small class="text-muted">#{{ msg.author_discrim }}</small></span>:
	{% for line in msg.content.split("\n") %}
	{{line}} <br>
	{% endfor %}
	{% for attach in msg.attachments %}
	{% if attach.endswith(".png") or attach.endswith(".jpg") %}
	<br><a href="{{attach}}"><img src="{{attach}}" style="max-width:40%"></a>
	{% else %}
	<a href="{{ attach }}"> Attachment </a>
	{% endif %}
	{% endfor %}
      </td>
      <td width="20%" align="right" style="vertical-align:top">
	{% if msg.edited_timestamp %}
	<small class="text-muted"> *{{msg.edited_timestamp}} </small>
	{% else %}
	<small class="text-muted"> {{msg.timestamp}} </small>
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  <hr>
</div>
{% endfor %}

{% endblock %}
